global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # Evaluate rules every 15 seconds.

  # Attach these extra labels to all timeseries collected by this Prometheus instance.
  external_labels:
    monitor: 'codelab-monitor'

rule_files:
  - 'prometheus.rules.yml'

scrape_configs:
  - job_name: 'prometheus'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s

    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'helge-api'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s

    static_configs:
      - targets: ['127.0.0.1:5001']
        labels:
          group: 'production'

  - job_name: 'backend'
    scrape_interval: 5s
    static_configs:
      - targets: ['127.0.0.1:5000']
        labels:
          group: 'production'

  - job_name: 'docker'
    scrape_interval: 5s
    static_configs:
      - targets: ['127.0.0.1:9323']

  - job_name: 'frontend':
    scrape_interval: 5s
    static_configs:
      - targets: ['127.0.0.1:3000']
        labels:
          group: 'production'

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['127.0.0.1:9100']
